#title{
	font-size: 1,6rem;
	line-height: 4.7rem;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 15rem;
	height: 5rem;
	font-size: 1rem;
	margin-top: 0.63rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1rem;
	width: 17rem;
	height: 4.3rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.3rem;
	width: 20rem;
	height: 5rem;
}

