body {
	background-image: linear-gradient(to right, #0078d4, #005a9e);
  }
  
  .menu-object {
	display: block;
	margin: 30px auto;
	width: 400px;
	height: auto;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	font-size: 25px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
  }

  .cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  button {
	background-color: transparent;
  }
  
  button:hover {
	background-color: rgba(255,255,255,0.2);
  }
  
  #title {
	text-align: center;
	text-shadow: 0 0 10px white;
  }
  
  label {
	margin-left: 15px;
  }
  
  input {
	margin-left: 15px;
  }

  ul {
    color: white;
    padding: 20px;
}

li {
    margin: 10px 0;
}